.introduction {
  background: #f7e9e8 url('../../../../assets/bg-love.png') no-repeat top 30px center;
  padding: 100px 0;

  &__content {
    width: 768px;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}