.header-title {
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin-bottom: 80px;

  a {
    &:hover {
      color: @link-color-hover;
    }
  }
}